@page
@using _0_Framework.Application
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Newtonsoft.Json
@model ServiceHost.Areas.Administration.Pages.IndexModel
@inject IAuthHelper AuthHelper;
@{
    var currentAccount = AuthHelper.CurrentAccountInfo();
    ViewData["Title"] = "پنل ادمین";
}

<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <h4 class="pull-left page-title"><strong>@currentAccount.Fullname</strong> عزیز خوش آمدید</h4>
        <ol class="breadcrumb pull-right">
            <li><a asp-page="./Administration/Index">سایت لوازم خانگی لوویز</a></li>
            <li class="active">داشبورد</li>
        </ol>
    </div>
</div>

<!-- Start Widget -->
<div class="row">
    <div class="col-md-6 col-sm-6 col-lg-2">
        <div class="mini-stat clearfix bx-shadow">
            <span class="mini-stat-icon bg-info"><i class="ion-social-usd"></i></span>
            <div class="mini-stat-info text-right text-muted">
                <span class="counter">@Model.TotalSales.ToMoney()</span>
                فروش کل
            </div>
            <div class="tiles-progress">
                <div class="m-t-20">
                    <div class="mini-stat-info text-right text-muted">
                        <span class="counter">@Model.TodaySales.ToMoney()</span>
                        فروش امروز
                    </div>
                    <h6 class="text-uppercase">
                        تغییر نسبت به دیروز
                        <span class="pull-right">
                            @Model.SalesChangePercent%
                            @if (Model.SalesChangePercent > 0)
                            {
                                <i class="fa fa-arrow-up text-success"></i>
                            }
                            else if (Model.SalesChangePercent < 0)
                            {
                                <i class="fa fa-arrow-down text-danger"></i>
                            }
                        </span>
                    </h6>
                    <div class="progress progress-sm m-0">
                        <div class="progress-bar @(Model.SalesChangePercent >= 0 ? "progress-bar-success" : "progress-bar-danger")"
                             role="progressbar"
                             style="width:@Math.Abs(Model.SalesChangePercent)%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  New Orders -->
    <div class="col-md-6 col-sm-6 col-lg-2">
        <div class="mini-stat clearfix bx-shadow">
            <span class="mini-stat-icon bg-purple"><i class="ion-ios7-cart"></i></span>
            <div class="mini-stat-info text-right text-muted">
                <span class="counter">@Model.AllOrderCount</span>
                کل سفارشات
            </div>
            <div class="tiles-progress">
                <div class="m-t-20">
                    <div class="mini-stat-info text-right text-muted">
                        <span class="counter">@Model.TodayOrdersCount</span>
                        سفارشات امروز
                    </div>
                    <h6 class="text-uppercase">
                        تغییر نسبت به دیروز
                        <span class="pull-right">
                            @Model.OrdersChangePercent%
                            @if (Model.OrdersChangePercent > 0)
                            {
                                <i class="fa fa-arrow-up text-success"></i>
                            }
                            else if (Model.OrdersChangePercent < 0)
                            {
                                <i class="fa fa-arrow-down text-danger"></i>
                            }
                        </span>
                    </h6>
                    <div class="progress progress-sm m-0">
                        <div class="progress-bar @(Model.OrdersChangePercent >= 0 ? "progress-bar-purple" : "progress-bar-danger")"
                             role="progressbar"
                             style="width:@Math.Abs(Model.OrdersChangePercent)%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Products -->
    <div class="col-md-6 col-sm-6 col-lg-2">
        <div class="mini-stat clearfix bx-shadow">
            <span class="mini-stat-icon bg-warning"><i class="ion-bag"></i></span>
            <div class="mini-stat-info text-right text-muted">
                <span class="counter">@Model.AllProductCount</span>
                کل محصولات
            </div>
            <div class="tiles-progress">
                <div class="m-t-20">
                    <div class="mini-stat-info text-right text-muted">
                        <span class="counter">@Model.TodayProductsCount</span>
                        محصولات امروز
                    </div>
                    <h6 class="text-uppercase">
                        تغییر نسبت به دیروز
                        <span class="pull-right">
                            @Model.ProductsChangePercent%
                            @if (Model.ProductsChangePercent > 0)
                            {
                                <i class="fa fa-arrow-up text-success"></i>
                            }
                            else if (Model.ProductsChangePercent < 0)
                            {
                                <i class="fa fa-arrow-down text-danger"></i>
                            }
                        </span>
                    </h6>
                    <div class="progress progress-sm m-0">
                        <div class="progress-bar @(Model.ProductsChangePercent >= 0 ? "progress-bar-warning" : "progress-bar-danger")"
                             role="progressbar"
                             style="width:@Math.Abs(Model.ProductsChangePercent)%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- New Articles -->
    <div class="col-md-6 col-sm-6 col-lg-2">
        <div class="mini-stat clearfix bx-shadow">
            <span class="mini-stat-icon bg-success"><i class="ion-compose"></i></span>
            <div class="mini-stat-info text-right text-muted">
                <span class="counter">@Model.AllArticleCount</span>
                کل مقالات
            </div>
            <div class="tiles-progress">
                <div class="m-t-20">
                    <div class="mini-stat-info text-right text-muted">
                        <span class="counter">@Model.TodayArticlesCount</span>
                        مقالات امروز
                    </div>
                    <h6 class="text-uppercase">
                        تغییر نسبت به دیروز
                        <span class="pull-right">
                            @Model.ArticlesChangePercent%
                            @if (Model.ArticlesChangePercent > 0)
                            {
                                <i class="fa fa-arrow-up text-success"></i>
                            }
                            else if (Model.ArticlesChangePercent < 0)
                            {
                                <i class="fa fa-arrow-down text-danger"></i>
                            }
                        </span>
                    </h6>
                    <div class="progress progress-sm m-0">
                        <div class="progress-bar @(Model.ArticlesChangePercent >= 0 ? "progress-bar-success" : "progress-bar-danger")"
                             role="progressbar"
                             style="width:@Math.Abs(Model.ArticlesChangePercent)%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- New Accounts -->
    <div class="col-md-6 col-sm-6 col-lg-2">
        <div class="mini-stat clearfix bx-shadow">
            <span class="mini-stat-icon bg-primary"><i class="ion-android-contacts"></i></span>
            <div class="mini-stat-info text-right text-muted">
                <span class="counter">@Model.AllUserCount</span>
                کل کاربران
            </div>
            <div class="tiles-progress">
                <div class="m-t-20">
                    <div class="mini-stat-info text-right text-muted">
                        <span class="counter">@Model.TodayUsersCount</span>
                        کاربران امروز
                    </div>
                    <h6 class="text-uppercase">
                        تغییر نسبت به دیروز
                        <span class="pull-right">
                            @Model.UsersChangePercent%
                            @if (Model.UsersChangePercent > 0)
                            {
                                <i class="fa fa-arrow-up text-success"></i>
                            }
                            else if (Model.UsersChangePercent < 0)
                            {
                                <i class="fa fa-arrow-down text-danger"></i>
                            }
                        </span>
                    </h6>
                    <div class="progress progress-sm m-0">
                        <div class="progress-bar @(Model.UsersChangePercent >= 0 ? "progress-bar-primary" : "progress-bar-danger")"
                             role="progressbar"
                             style="width:@Math.Abs(Model.UsersChangePercent)%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- End row-->


<!-- Start Chart -->
<div class="row">
    <!-- درآمد ماهانه -->
    <div class="col-sm-12">
        <div class="portlet">
            <div class="portlet-heading">
                <h3 class="portlet-title text-dark text-uppercase">درآمد ماهانه</h3>
                <canvas id="incomeChart" width="250" height="120"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="row">

    <!-- پرفروش ‌ترین محصولات -->
    <div class="col-sm-6">
        <div class="portlet">
            <div class="portlet-heading">
                <h3 class="portlet-title text-dark text-uppercase">پرفروش‌ترین محصولات</h3>
                <canvas id="topProductsLine" width="250" height="150"></canvas>
            </div>
        </div>
    </div>

    <!-- تعداد سفارشات ماهانه -->
    <div class="col-sm-6">
        <div class="portlet">
            <div class="portlet-heading">
                <h3 class="portlet-title text-dark text-uppercase">تعداد سفارشات ماهانه</h3>
                <canvas id="ordersChart" width="250" height="150"></canvas>
            </div>
        </div>
    </div>

    <!-- دسته‌بندی‌های پرفروش -->
    <div class="col-sm-6">
        <div class="portlet">
            <div class="portlet-heading">
                <h3 class="portlet-title text-dark text-uppercase">دسته‌بندی‌های پرفروش</h3>
                <canvas id="topCategoryDoughnut"></canvas>
            </div>
        </div>
    </div>

    <!-- توزیع محصولات -->
    <div class="col-sm-6">
        <div class="portlet">
            <div class="portlet-heading">
                <h3 class="portlet-title text-dark text-uppercase">توزیع محصولات</h3>
                <canvas id="productDistribution"></canvas>
            </div>
        </div>
    </div>

    <!-- موجودی کالاها -->
    <div class="col-sm-6">
        <div class="portlet">
            <div class="portlet-heading">
                <h3 class="portlet-title text-dark text-uppercase">موجودی محصولات</h3>
                <canvas id="lowStockBar" width="250" height="150"></canvas>
            </div>
        </div>
    </div>

    <!-- ثبت ‌نام ماهانه کاربران -->
    <div class="col-sm-6">
        <div class="portlet">
            <div class="portlet-heading">
                <h3 class="portlet-title text-dark text-uppercase">وضعیت ثبت‌نام کاربران(ماهانه)</h3>
                <canvas id="monthlyUsers" width="250" height="150"></canvas>
            </div>
        </div>
    </div>

    <!-- نمودار تخفیف‌ها بر اساس محصول -->
    <div class="col-sm-6">
        <div class="portlet">
            <div class="portlet-heading">
                <h3 class="portlet-title text-dark text-uppercase">محصولات دارای تخفیف فعال</h3>
                <canvas id="discountByProductChart" width="250" height="150"></canvas>
            </div>
        </div>
    </div>

    <!-- فروش بر حسب دسته‌بندی -->
    <div class="col-sm-6">
        <div class="portlet">
            <div class="portlet-heading">
                <h3 class="portlet-title text-dark text-uppercase">فروش بر حسب دسته‌بندی</h3>
                <canvas id="categorySalesBar" width="250" height="150"></canvas>
            </div>
        </div>
    </div>

    <!-- انتشار مقالات ماهانه -->
    <div class="col-sm-6">
        <div class="portlet">
            <div class="portlet-heading">
                <h3 class="portlet-title text-dark text-uppercase">انتشار مقالات ماهانه</h3>
                <canvas id="monthlyArticlesLine" width="250" height="150"></canvas>
            </div>
        </div>
    </div>

    <!-- نمودار تعداد کامنت‌های تأییدنشده -->
    <div class="col-sm-6">
        <div class="portlet">
            <div class="portlet-heading">
                <h3 class="portlet-title text-dark text-uppercase">
                    کامنت های درانتظار تأیید
                </h3>
                <canvas id="unapprovedCommentsChart" width="250" height="150"></canvas>
            </div>
        </div>
    </div>

    <!-- توزیع نقش‌های کاربران -->
    <div class="col-sm-6">
        <div class="portlet">
            <div class="portlet-heading">
                <h3 class="portlet-title text-dark text-uppercase">توزیع نقش‌های کاربران</h3>
                <canvas id="userRolesDonut" width="250" height="240"></canvas>
            </div>
        </div>
    </div>

    <!-- وضعیت نحوه پرداخت سفارشات -->
    <div class="col-sm-6">
        <div class="portlet">
            <div class="portlet-heading">
                <h3 class="portlet-title text-dark text-uppercase">وضعیت نحوه پرداخت سفارشات</h3>
                <canvas id="paymentMethodBar" width="250" height="240"></canvas>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-sm-12">
        <div class="portlet">
            <div class="portlet-heading">
                <h3 class="portlet-title text-dark text-uppercase">
                    ۱۰ مقالهٔ پربازدید اخیر
                </h3>
                <canvas id="mostViewedArticles" height="120"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="portlet">
            <div class="portlet-heading">
                <h3 class="portlet-title text-dark text-uppercase">
                    وضعیت سفارشات در سال جاری
                </h3>
                <canvas id="orderStatusChart" height="120"></canvas>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        const monthLabels = @Html.Raw(JsonConvert.SerializeObject(Model.MonthLabels));
        const monthlyRevenue = @Html.Raw(JsonConvert.SerializeObject(Model.MonthlyRevenue));
        const monthlyOrdersCount = @Html.Raw(JsonConvert.SerializeObject(Model.MonthlyOrdersCount));

        new Chart(document.getElementById('ordersChart'), {
            type: 'bar',
            data: {
                labels: monthLabels,
                datasets: [{
                    label: 'سفارشات ماهانه',
                    data: monthlyOrdersCount,
                    backgroundColor: '#28a745',      // رنگ ستون‌ها
                    borderColor: '#1e7e34',          // رنگ کادر ستون‌ها
                    borderWidth: 2,                  // ضخامت کادر
                    borderRadius: 3,                 // گرد کردن گوشه‌ها
                    borderSkipped: false,            // تمامی چهار طرف کادر را بکش
                    hoverBackgroundColor: '#218838', // رنگ ستون‌ها در حالت Hover
                    hoverBorderColor: '#1c7430'      // رنگ کادر ستون‌ها در Hover
                }]
            },
            options: {
                responsive: true,
                scales: {
                    x: {
                        ticks: {
                            font: {
                                size: 12,
                                family: 'Iransans',
                                weight: 'bold'
                            }
                        }
                    },
                    y: {
                        beginAtZero: true,
                        ticks: {
                            font: {
                                size: 12,
                                family: 'Iransans',
                                weight: 'bold'
                            }
                        }
                    }
                },
                plugins: {
                    tooltip: {
                        backgroundColor: 'rgba(0,0,0,0.7)',
                        titleFont: { size: 15, weight: 'bold', family: 'Iransans' },
                        bodyFont: { size: 13, family: 'Iransans' },
                        padding: 12,
                        borderColor: '#fff',
                        borderWidth: 1
                    },
                    legend: {
                        display: false // چون فقط یک دیتاست داریم، می‌توانیم لِجند را مخفی کنیم یا نمایش دهیم
                    }
                }
            }
        });

        const pendingData = @Html.Raw(JsonConvert.SerializeObject(Model.PendingOrdersCount));
        const paidData = @Html.Raw(JsonConvert.SerializeObject(Model.PaidOrdersCount));
        const canceledData = @Html.Raw(JsonConvert.SerializeObject(Model.CanceledOrdersCount));

        const ctxStatus = document.getElementById('orderStatusChart').getContext('2d');

        const gradientPending = ctxStatus.createLinearGradient(0, 0, 0, 300);
        gradientPending.addColorStop(0, 'rgba(245, 250, 18, 1)');
        gradientPending.addColorStop(1, 'rgba(220, 200, 40, 0.7)');

        const gradientPaid = ctxStatus.createLinearGradient(0, 0, 0, 300);
        gradientPaid.addColorStop(0, 'rgba(60, 255, 25,1)');
        gradientPaid.addColorStop(1, 'rgba(50, 200, 80,0.7)');

        const gradientCanceled = ctxStatus.createLinearGradient(0, 0, 0, 300);
        gradientCanceled.addColorStop(0, 'rgba(255, 50, 40, 1)');
        gradientCanceled.addColorStop(1, 'rgba(220, 50, 50, 0.7)');

        // ۶) چارت «وضعیت سفارشات در سال جاری» (Line Chart با خطوطِ گرادیانت)
        new Chart(ctxStatus, {
            type: 'line',
            data: {
                labels: monthLabels,
                datasets: [
                    {
                        label: 'در انتظار پرداخت',
                        data: pendingData,
                        borderColor: gradientPending,   // گرادیانت برای دورِ خط
                        borderWidth: 3,
                        pointBackgroundColor: 'rgba(210, 210, 30, 1)',
                        pointRadius: 3,
                        tension: 0.3,
                        fill: false
                    },
                    {
                        label: 'پرداخت‌شده',
                        data: paidData,
                        borderColor: gradientPaid,
                        borderWidth: 3,
                        pointBackgroundColor: 'rgba(90, 240, 25,1)',
                        pointRadius: 3,
                        tension: 0.3,
                        fill: false
                    },
                    {
                        label: 'لغو شده',
                        data: canceledData,
                        borderColor: gradientCanceled,
                        borderWidth: 3,
                        pointBackgroundColor: 'rgba(240, 55, 65, 1)',
                        pointRadius: 3,
                        tension: 0.3,
                        fill: false
                    }
                ]
            },
            options: {
                responsive: true,
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: 'ماه',
                            font: {
                                family: 'Iransans',
                                size: 14,
                                weight: 'bold'
                            }
                        },
                        ticks: {
                            font: {
                                size: 12,
                                family: 'Iransans',
                                weight: 'bold'
                            }
                        }
                    },
                    y: {
                        beginAtZero: true,
                        title: {
                            display: true,
                            text: 'تعداد سفارشات',
                            font: {
                                family: 'Iransans',
                                size: 14,
                                weight: 'bold'
                            }
                        },
                        ticks: {
                            stepSize: 1,
                            precision: 0,
                            font: {
                                size: 12,
                                family: 'Iransans',
                                weight: 'bold'
                            }
                        }
                    }
                },
                plugins: {
                    tooltip: {
                        backgroundColor: 'rgba(0,0,0,0.7)',
                        titleFont: { size: 16, family: 'Iransans', weight: 'bold' },
                        bodyFont: { size: 14, family: 'Iransans', weight: 'bold' },
                        padding: 10,
                        callbacks: {
                            label: function (context) {
                                const label = context.dataset.label || '';
                                const val = context.parsed.y;
                                return `${label}: ${val.toLocaleString('fa-IR')}`;
                            }
                        }
                    },
                    legend: {
                        labels: {
                            font: {
                                size: 14,
                                family: 'Iransans',
                                weight: 'bold'
                            }
                        }
                    }
                }
            }
        });

        // درآمد ماهانه
        const ctxIncome = document.getElementById('incomeChart').getContext('2d');
        const gradientLine = ctxIncome.createLinearGradient(0, 0, 0, 400);
        gradientLine.addColorStop(0, 'rgba(0, 123, 255, 0.8)');   // رنگ آبی پررنگ در بالا
        gradientLine.addColorStop(1, 'rgba(0, 123, 255, 0.2)');   // آبی کم‌رنگ در پایین
        const gradientFill = ctxIncome.createLinearGradient(0, 0, 0, 400);
        gradientFill.addColorStop(0, 'rgba(0, 123, 255, 0.4)');
        gradientFill.addColorStop(1, 'rgba(0, 123, 255, 0)');

        new Chart(ctxIncome, {
            type: 'line',
            data: {
                labels: monthLabels,
                datasets: [{
                    label: 'درآمد ماهانه (تومان)',        // عنوان در لگند
                    data: monthlyRevenue,
                    borderColor: gradientLine,           // رنگ خط با گرادیان
                    backgroundColor: gradientFill,       // رنگ ناحیهٔ زیرخط (fill)
                    pointBackgroundColor: '#007bff',     // رنگ نقطه‌ها
                    pointBorderColor: '#ffffff',         // حاشیهٔ سفید دور نقطه‌ها
                    pointBorderWidth: 2,
                    pointRadius: 4,                      // اندازهٔ نقطه‌ها
                    pointHoverRadius: 6,                 // اندازهٔ نقطه‌ها هنگام هاور
                    fill: true,                          // فعال کردن پرکردن زیر خط
                    borderWidth: 2,                      // ضخامت خط
                    tension: 0.4                         // انحنای ملایم بین نقاط
                }]
            },
            options: {
                responsive: true,
                layout: {
                    padding: {
                        top: 10,
                        right: 20,
                        bottom: 10,
                        left: 10
                    }
                },
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: 'ماه',
                            font: {
                                family: 'IranSans',
                                size: 15,
                                weight: 'bold'
                            },
                            color: '#333'
                        },
                        ticks: {
                            font: {
                                size: 13,
                                family: 'Iransans',
                                weight: 'bold'
                            },
                            color: '#444'
                        },
                        grid: {
                            display: false
                        }
                    },
                    y: {
                        title: {
                            display: true,
                            text: 'درآمد',
                            font: {
                                family: 'Iransans',
                                size: 14,
                                weight: 'bold'
                            },
                            color: '#333'
                        },
                        ticks: {
                            font: {
                                size: 13,
                                family: 'Iransans',
                                weight: 'bold'
                            },
                            color: '#444',
                            callback: function (value) {
                                return value.toLocaleString('fa-IR') + ' تومان';
                            }
                        },
                        grid: {
                            color: 'rgba(200,200,200,0.2)', // رنگ روشن برای خطوط افقی
                            borderDash: [5, 5]             // نقطه‌چین کردن خطوط
                        },
                        beginAtZero: true
                    }
                },
                animation: {
                    duration: 1200, // زمان انیمیشن در میلی‌ثانیه
                    easing: 'easeOutQuart'
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                elements: {
                    line: {
                        tension: 0.4
                    },
                    point: {
                        hoverRadius: 6
                    }
                },
                plugins: {
                    tooltip: {
                        enabled: true,
                        backgroundColor: 'rgba(0,0,0,0.7)',
                        titleFont: { size: 15, weight: 'bold', family: 'Iransans' },
                        bodyFont: { size: 13, weight: 'bold', family: 'Iransans' },
                        padding: 12,
                        borderColor: '#fff',
                        borderWidth: 1,
                        cornerRadius: 5,
                        callbacks: {
                            title: function (context) {
                                const idx = context[0].dataIndex;
                                return 'ماه: ' + monthLabels[idx];
                            },
                            label: function (context) {
                                const val = context.parsed.y;
                                return 'درآمد: ' + val.toLocaleString('fa-IR') + ' تومان';
                            }
                        },
                    },
                    legend: {
                        labels: {
                            font: {
                                size: 14,
                                family: 'Iransans',
                                weight: 'bold'
                            }
                        }
                    }
                }
            }
        });

        // دسته‌بندی‌های پرفروش (Donut)
        new Chart(document.getElementById('topCategoryDoughnut'), {
            type: 'doughnut',
            data: {
                labels: @Html.Raw(JsonConvert.SerializeObject(Model.TopCategoryLabels)),
                datasets: [{
                    data: @Html.Raw(JsonConvert.SerializeObject(Model.TopCategoryCount)),
                    label: 'تعداد فروخته شده',
                    backgroundColor: ['#ffc107', '#dc3545', '#17a2b8', '#6f42c1', '#fd7e14', '#20c997', '#e83e8c']
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    tooltip: {
                        backgroundColor: 'rgba(0,0,0,0.7)',
                        titleFont: { size: 14, weight: 'bold', family: 'Iransans' },
                        bodyFont: { size: 12, family: 'Iransans' },
                        padding: 12,
                        borderColor: '#fff',
                        borderWidth: 1
                    },
                    legend: {
                        labels: {
                            font: {
                                size: 14,
                                family: 'Iransans',
                                weight: 'bold'
                            }
                        }
                    }
                }
            }
        });

        // توزیع محصولات (Pie)
        new Chart(document.getElementById('productDistribution'), {
            type: 'pie',
            data: {
                labels: @Html.Raw(JsonConvert.SerializeObject(Model.ProductDistLabels)),
                datasets: [{
                    data: @Html.Raw(JsonConvert.SerializeObject(Model.ProductDistCounts)),
                    label: 'تعداد محصول',
                    backgroundColor: ['#6610f2', '#ff6f61', '#3f51b5', '#955149', '#f802f0']
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    tooltip: {
                        backgroundColor: 'rgba(0,0,0,0.7)',
                        titleFont: { size: 14, weight: 'bold', family: 'Iransans' },
                        bodyFont: { size: 12, weight: 'bold', family: 'Iransans' },
                        padding: 12,
                        borderColor: '#fff',
                        borderWidth: 1
                    },
                    legend: {
                        labels: {
                            font: {
                                size: 14,
                                family: 'Iransans',
                                weight: 'bold'
                            }
                        }
                    }
                }
            }
        });
        // موجودی کالا (افقی)
        new Chart(document.getElementById('lowStockBar'), {
            type: 'bar',
            data: {
                labels: @Html.Raw(JsonConvert.SerializeObject(Model.LowStockProductNames)),
                datasets: [{
                    label: 'موجودی کالا',
                    data: @Html.Raw(JsonConvert.SerializeObject(Model.LowStockCounts)),
                    backgroundColor: '#dc3545',      // رنگ پرشدگی ستون‌ها
                    borderColor: '#6f1d1b',         // رنگ قاب دور ستون‌ها
                    borderWidth: 2,                 // ضخامت قاب
                    borderRadius: 2,                // گوشه‌های گرد
                    borderSkipped: false,           // آیا بخشی از قاب حذف شود یا کل دور ستون باشد
                    hoverBackgroundColor: '#ff1100',// رنگ هنگام هاور
                    hoverBorderColor: '#802d3f'   // رنگ قاب هنگام هاور
                }]
            },
            options: {
                responsive: true,
                indexAxis: 'y',
                scales: {
                    x: {
                        ticks: {
                            font: {
                                size: 12,
                                family: 'Iransans',
                                weight: 'bold'
                            }
                        }
                    },
                    y: {
                        ticks: {
                            font: {
                                size: 12,
                                family: 'Iransans',
                                weight: 'bold'
                            }
                        }
                    }
                },
                plugins: {
                    tooltip: {
                        backgroundColor: 'rgba(0,0,0,0.7)',
                        titleFont: { size: 14, weight: 'bold', family: 'IranSans' },
                        bodyFont: { size: 12, family: 'IranSans' },
                        padding: 12,
                        borderColor: '#fff',
                        borderWidth: 1
                    },
                    legend: {
                        labels: {
                            font: {
                                size: 14,
                                family: 'Iransans',
                                weight: 'bold'
                            }
                        }
                    }
                }
            }
        });

        // ثبت‌نام ماهانه کاربران (Line)
        new Chart(document.getElementById('monthlyUsers'), {
            type: 'line',
            data: {
                labels: monthLabels,
                datasets: [{
                    label: 'تعداد نفرات',
                    data: @Html.Raw(JsonConvert.SerializeObject(Model.MonthlyUserCount)),
                    borderColor: '#20c997',
                    fill: false
                }]
            },
            options: {
                responsive: true,
                scales: {
                    x: {
                        ticks: {
                            font: {
                                size: 12,
                                family: 'Iransans',
                                weight: 'bold'
                            }
                        }
                    },
                    y: {
                        ticks: {
                            stepSize: 1,
                            precision: 0,
                            font: {
                                size: 12,
                                family: 'Iransans',
                                weight: 'bold'
                            }
                        }
                    }
                },
                plugins: {
                    tooltip: {
                        backgroundColor: 'rgba(0,0,0,0.7)',
                        titleFont: { size: 14, weight: 'bold', family: 'Iransans', },
                        bodyFont: { size: 12, family: 'IranSans', },
                        padding: 12,
                        borderColor: '#fff',
                        borderWidth: 1
                    },
                    legend: {
                        labels: {
                            font: {
                                size: 14,
                                family: 'Iransans',
                                weight: 'bold'
                            }
                        }
                    }
                }
            }
        });

        // توزیع نقش‌های کاربران (Donut)
        new Chart(document.getElementById('userRolesDonut'), {
            type: 'doughnut',
            data: {
                labels: @Html.Raw(JsonConvert.SerializeObject(Model.RoleNames)),
                datasets: [{
                    data: @Html.Raw(JsonConvert.SerializeObject(Model.RoleCounts)),
                    label: 'تعداد نفرات',
                    backgroundColor: ['#6f42c1', '#17a2b8', '#ffc107', '#e83e8c']
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    tooltip: {
                        backgroundColor: 'rgba(0,0,0,0.7)',
                        titleFont: { size: 14, weight: 'bold', family: 'Iransans', },
                        bodyFont: { size: 12, family: 'Iransans', },
                        padding: 12,
                        borderColor: '#fff',
                        borderWidth: 1
                    },
                    legend: {
                        labels: {
                            font: {
                                size: 14,
                                family: 'Iransans',
                                weight: 'bold'
                            }
                        }
                    }
                }
            }
        });

        //  نمودار گروه کد تخفیف بر اساس محصول
        const prodLabels = @Html.Raw(JsonConvert.SerializeObject(Model.DiscountRadarLabels));
        const custRates = @Html.Raw(JsonConvert.SerializeObject(Model.DiscountCustomerData));
        const collRates = @Html.Raw(JsonConvert.SerializeObject(Model.DiscountPartnerData));

        new Chart(document.getElementById('discountByProductChart'), {
            type: 'bar',
            data: {
                labels: prodLabels,
                datasets: [
                    {
                        label: 'درصد تخفیف مشتری',
                        data: custRates,
                        backgroundColor: '#007bff',
                        borderColor: '#0056b3',
                        borderWidth: 2,
                        borderRadius: 2,
                        borderSkipped: false,
                        hoverBackgroundColor: '#557eea',
                        hoverBorderColor: '#5756b3'
                    },
                    {
                        label: 'درصد تخفیف همکار',
                        data: collRates,
                        backgroundColor: '#28a745',
                        borderColor: '#1e7e34',
                        borderWidth: 2,                 // ضخامت قاب
                        borderRadius: 2,                // گوشه‌های گرد
                        borderSkipped: false,           // آیا بخشی از قاب حذف شود یا کل دور ستون باشد
                        hoverBackgroundColor: '#3ace51',// رنگ هنگام هاور
                        hoverBorderColor: '#90ad54'
                    }
                ]
            },
            options: {
                responsive: true,
                scales: {
                    x: {
                        ticks: {
                            font: {
                                size: 12,
                                family: 'Iransans',
                                weight: 'bold'
                            }
                        },
                        grid: { display: false }
                    },
                    y: {
                        beginAtZero: true,
                        max: 100,
                        title: {
                            display: true,
                            text: 'درصد تخفیف',
                            font: {
                                family: 'Iransans',
                                size: 14,
                                weight: 'bold'
                            }
                        },
                        ticks: {
                            callback: v => v + '%',
                            font: {
                                size: 15,
                                family: 'Iranans',
                                weight: 'bold'
                            }
                        }
                    }
                },
                plugins: {
                    legend: {
                        position: 'top',
                        labels: { font: { size: 14, weight: 'bold' } }
                    },
                    tooltip: {
                        callbacks: {
                            label: ctx => ctx.dataset.label + ': ' + ctx.parsed.y + '%'
                        },
                        backgroundColor: 'rgba(0,0,0,0.7)',
                        titleFont: { size: 14, weight: 'bold', family: 'Iransans', },
                        bodyFont: { size: 12, family: 'Iransans', },
                        padding: 12,
                        borderColor: '#fff',
                        borderWidth: 1
                    }
                }
            }
        });

        // نمودار فروش بر حسب دسته‌بندی
        const categoryLabels = @Html.Raw(JsonConvert.SerializeObject(Model.CategorySalesLabels));
        const categoryVolumes = @Html.Raw(JsonConvert.SerializeObject(Model.CategorySalesVolumes));
        const categoryCounts = @Html.Raw(JsonConvert.SerializeObject(Model.CategorySalesCounts));
        const ctxCat = document.getElementById('categorySalesBar').getContext('2d');

        new Chart(ctxCat, {
            type: 'bar',
            data: {
                labels: categoryLabels,
                datasets: [{
                    label: 'حجم فروش (تومان)',
                    data: categoryVolumes,
                    backgroundColor: '#ffc107',
                    borderColor: '#de810c',
                    borderWidth: 2,
                    borderRadius: 3,
                    borderSkipped: false,
                    hoverBackgroundColor: '#e7bd0c',
                    hoverBorderColor: '#e8a922',
                    maxBarThickness: 55
                }]
            },
            options: {
                responsive: true,
                scales: {
                    x: {
                        ticks: {
                            font: {
                                size: 12,
                                family: 'Iransans',
                                weight: 'bold'
                            }
                        }
                    },
                    y: {
                        beginAtZero: true,
                        ticks: {
                            callback: function (value) {
                                return value.toLocaleString('fa-IR') + ' تومان';
                            },
                            font: {
                                size: 12,
                                family: 'Iransans',
                                weight: 'bold'
                            }
                        },
                        title: {
                            display: true,
                            text: 'میزان فروش (تومان)',
                            font: {
                                family: 'Iransans',
                                size: 14,
                                weight: 'bold'
                            }
                        }
                    }
                },
                plugins: {
                    tooltip: {
                        backgroundColor: 'rgba(0,0,0,0.7)',
                        titleFont: { size: 14, weight: 'bold', family: 'Iransans', },
                        bodyFont: { size: 12, family: 'Iransans', weight: 'bold' },
                        padding: 12,
                        borderColor: '#fff',
                        borderWidth: 1,
                        callbacks: {
                            label: function (context) {
                                const idx = context.dataIndex;
                                const vol = categoryVolumes[idx];
                                const cnt = categoryCounts[idx];
                                const cntText = cnt.toLocaleString('fa-IR') + ' عدد';
                                const volText = vol.toLocaleString('fa-IR') + ' تومان';
                                return [`حجم: ${volText}`, `تعداد آیتم: ${cntText}`];
                            }
                        }
                    },
                    legend: {
                        display: false
                    },
                    datalabels: {
                        anchor: 'end',
                        align: 'top',
                        font: {
                            family: 'Iransans',
                            size: 12,
                            weight: 'bold'
                        },
                        formatter: function (value) {
                            return (value / 1000000).toFixed(1) + 'M';
                        }
                    }
                }
            }
        });

        // پرفروش‌ترین محصولات (Line)
        new Chart(document.getElementById('topProductsLine'), {
            type: 'line',
            data: {
                labels: @Html.Raw(JsonConvert.SerializeObject(Model.TopProductNames)),
                datasets: [{
                    label: 'تعداد',
                    data: @Html.Raw(JsonConvert.SerializeObject(Model.TopProductSales)),
                    borderColor: '#6f42c1',
                    fill: false
                }]
            },
            options: {
                responsive: true,
                scales: {
                    x: {
                        ticks: {
                            font: {
                                size: 12,
                                family: 'Iransans',
                                weight: 'bold'
                            }
                        }
                    },
                    y: {
                        ticks: {
                            font: {
                                size: 12,
                                family: 'Iransans',
                                weight: 'bold'
                            }
                        }
                    }
                },
                plugins: {
                    tooltip: {
                        backgroundColor: 'rgba(0,0,0,0.7)',
                        titleFont: { size: 14, weight: 'bold', family: 'Iransans' },
                        bodyFont: { size: 12, family: 'Iransans' },
                        padding: 12,
                        borderColor: '#fff',
                        borderWidth: 1
                    },
                    legend: {
                        labels: {
                            font: {
                                size: 14,
                                family: 'Iransans',
                                weight: 'bold'
                            }
                        }
                    }
                }
            }
        });

        // انتشار مقالات ماهانه (Line)
        new Chart(document.getElementById('monthlyArticlesLine'), {
            type: 'line',
            data: {
                labels: monthLabels,
                datasets: [{
                    label: 'انتشار مقالات',
                    data: @Html.Raw(JsonConvert.SerializeObject(Model.MonthlyArticleCount)),
                    borderColor: '#fd7e14',
                    fill: false
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    tooltip: {
                        backgroundColor: 'rgba(0,0,0,0.7)',
                        titleFont: { size: 14, weight: 'bold', family: 'Iransans', },
                        bodyFont: { size: 12, family: 'Iransans', },
                        padding: 10,
                        borderColor: '#fff',
                        borderWidth: 1,
                        callbacks: {
                            label: function (context) {
                                const index = context.dataIndex;
                                const categoryNames = @Html.Raw(JsonConvert.SerializeObject(Model.MonthlyArticleCategories));
                                const value = context.dataset.data[index];
                                const cat = categoryNames[index] ?? "نامشخص";
                                return `تعداد: ${value} | گروه: ${cat}`;
                            }
                        }
                    },
                    legend: {
                        labels: {
                            font: {
                                size: 14,
                                family: 'Iransans',
                                weight: 'bold'
                            }
                        }
                    }
                },
                scales: {
                    x: {
                        ticks: {
                            font: {
                                size: 12,
                                family: 'Iransans',
                                weight: 'bold'
                            }
                        }
                    },
                    y: {
                        beginAtZero: true,
                        ticks: {
                            stepSize: 1,
                            precision: 0,
                            font: {
                                size: 12,
                                family: 'Iransans',
                                weight: 'bold'
                            }
                        }
                    }
                }
            }
        });

        // نمودار تعداد کامنت‌های تأییدنشده
        new Chart(document.getElementById('unapprovedCommentsChart'), {
            type: 'bar',
            data: {
                labels: @Html.Raw(JsonConvert.SerializeObject(Model.CommentLabels)),
                datasets: [{
                    label: 'کامنت‌های درانتظار تأیید',
                    data: @Html.Raw(JsonConvert.SerializeObject(Model.CommentCounts)),
                    backgroundColor: ['#dc3545', '#ffc107', '#17a2b8'],
                    maxBarThickness: 50
                }]
            },
            options: {
                responsive: true,
                scales: {
                    x: {
                        ticks: {
                            font: {
                                size: 12,
                                family: 'Iransans',
                                weight: 'bold'
                            }
                        }
                    },
                    y: {
                        beginAtZero: true,
                        ticks: {
                            stepSize: 1,
                            precision: 0,
                            font: {
                                size: 12,
                                family: 'Iransans',
                                weight: 'bold'
                            }
                        }
                    }
                },
                plugins: {
                    tooltip: {
                        backgroundColor: 'rgba(0,0,0,0.7)',
                        titleFont: { size: 13, weight: 'bold', family: 'Iransans', },
                        bodyFont: { size: 12, weight: 'bold', family: 'Iransans', },
                        padding: 12,
                        borderColor: '#fff',
                        borderWidth: 1
                    },
                    legend: {
                        labels: {
                            font: {
                                size: 14,
                                family: 'Iransans',
                                weight: 'bold'
                            }
                        }
                    }
                }
            }
        });
        //نمودار نحوه پرداخت سفارشات
        new Chart(document.getElementById('paymentMethodBar'), {
            type: 'bar',
            data: {
                labels: @Html.Raw(JsonConvert.SerializeObject(Model.PaymentMethodNames)),
                datasets: [{
                    label: 'تعداد سفارش',
                    data: @Html.Raw(JsonConvert.SerializeObject(Model.PaymentMethodCounts)),
                    backgroundColor: ['#007bff', '#ffc107'],
                    borderColor: ['#0056b3', '#e0a800'],
                    borderWidth: 2,
                    borderRadius: 3,
                    borderSkipped: false,
                    maxBarThickness: 50
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: { display: false },
                    tooltip: {
                        backgroundColor: 'rgba(0,0,0,0.7)',
                        titleFont: { size: 15, family: 'Iransans', weight: 'bold' },
                        bodyFont: { size: 14, family: 'Iransans' },
                        borderColor: '#fff',
                        borderWidth: 1,
                        padding: 10
                    }
                },
                scales: {
                    x: {
                        beginAtZero: true,
                        ticks: {
                            font: { family: 'Iransans', weight: 'bold', size: 12 }
                        }
                    },
                    y: {
                        ticks: {
                            font: { family: 'Iransans', weight: 'bold', size: 12 }
                        }
                    }
                }
            }
        });

        //10 مقاله پربازدید اخیر
        const mostViewedTitles = @Html.Raw(JsonConvert.SerializeObject(Model.MostVisitedArticleTitles));
        const mostViewedCounts = @Html.Raw(JsonConvert.SerializeObject(Model.MostVisitedArticleViews));
        const quotedTitles = mostViewedTitles.map(t => `"${t}"`);

        new Chart(document.getElementById('mostViewedArticles'), {
            type: 'bar', 
            data: {
                labels: quotedTitles,
                datasets: [{
                    label: 'تعداد بازدید',
                    data: mostViewedCounts,
                    backgroundColor: '#20c997',
                    borderColor: '#138c72',
                    borderWidth: 2,
                    borderRadius: 3,
                    borderSkipped: false,
                    hoverBackgroundColor: '#1ca57a',
                    hoverBorderColor: '#0f5436',
                    maxBarThickness: 50
                }]
            },
            options: {
                responsive: true,
                scales: {
                    x: {
                        ticks: {
                            font: {
                                size: 12,
                                family: 'Iransans',
                                weight: 'bold'
                            }
                        }
                    },
                    y: {
                        beginAtZero: true,
                        ticks: {
                            stepSize: 1,
                            precision: 0,
                            font: {
                                size: 12,
                                family: 'Iransans',
                                weight: 'bold'
                            }
                        }
                    }
                },
                plugins: {
                    tooltip: {
                        backgroundColor: 'rgba(0,0,0,0.7)',
                        titleFont: { size: 15, family: 'Iransans', weight: 'bold' },
                        bodyFont: { size: 14, family: 'Iransans' },
                        padding: 10,
                        borderColor: '#fff',
                        borderWidth: 1
                    },
                    legend: {
                        display: false
                    }
                }
            }
        });

    </script>
}
